*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background-color: blue;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.header h1{
    font-size: 25px;
    color: white;
    margin-left: 25px;
}
.header .nav{
    margin-right: 25px;
    color: white;
    text-align: center;
}
.header a{
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
    color: white;
}