*{
    margin: 0;
    padding: 0;
}
.container{
    height: 400px;
    width: 400px;
}
.img{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    
}
img{
    height: 100%;
    width: 100%;
    animation-name: slide;
    animation-duration: 4s;
}
@keyframes slide{
    0%{
        transform: translateX(0);    
    }
    15%{
        transform: translateX(200px);
    }
    25%{
        transform: translateX(400px);
    }
    35%{
        transform: translateX(600px);
    }
    45%{
        transform: translateX(800px);
    }
    55%{
        transform: translateX(700px);
    }
    65%{
        transform: translateX(600px);
    }
    75%{
        transform: translateX(400px);
    }
    85%{
        transform: translateX(300px);
    }
    95%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}